:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.95);
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.95);
}

a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.15;
}

h1 {
  font-family: "Playfair", serif;
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.1;
  text-align: left;
  position: fixed;
  border-bottom: black 2px solid;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 600;
}

.experience-link {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.7);
}

#space {
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(circle at 50% 50%,
      rgba(120, 119, 198, 0.22),
      transparent 40%),
    radial-gradient(circle at 70% 30%,
      rgba(90, 150, 255, 0.15),
      transparent 50%),
    radial-gradient(circle at 30% 80%,
      rgba(200, 120, 255, 0.18),
      transparent 50%);

  filter: blur(80px) saturate(120%);
  transform: scale(1.2);
}

#main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 4rem 4rem 0 4rem;
  text-align: center;
  display: flex;
  flex-direction: row;
}

section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#title-nav {
  align-items: start;
}

#content {
  align-items: center;
}

#about-text {
  text-align: left;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(120, 119, 198, 0);
  padding: 1.2rem;
  margin-bottom: 20px;
  border-top: 1px solid rgb(120, 119, 198, 0);
  border-radius: 5px;
}

.experience-box:hover {
  background-color: rgb(120, 119, 198, 0.1);
  border-top: 1px solid rgb(120, 119, 198, 0.2);
  cursor: pointer;
}

.experience-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 400;
}

.years {
  font-weight: 800;
}

.role {}

.language-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}

.language-tag {
  font-family: "Nunito Sans", sans-serif;
  margin-left: 10px;
  background-color: rgba(224, 178, 179, 0.5);
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  font-size: 12px;
}

.project-box {
  background-color: rgba(132, 191, 180, 0);
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin-bottom: 20px;
  border-top: 1px solid rgb(120, 119, 198, 0);
  border-radius: 5px;
}

.project-box:hover {
  background-color: rgba(132, 191, 180, 0.1);
  border-top: 1px solid rgb(132, 191, 180, 0.2);
  cursor: pointer;
}

.project-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 400;
}

.project-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.7);
}

#first-name {
  color: rgb(0, 0, 0, 0.8);
}

ul {
  font-family: "Cormorant Garamond", serif;
  text-align: left;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}

li {
  font-weight: 600;
}

#nav {
  margin-top: 200px;
  position: fixed;
}

p {
  text-align: left;
}

li {
  margin: 2rem 0 2rem 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: rgb(120, 119, 198, 0.1);
    ;
  }

  button {
    background-color: #f9f9f9;
  }
}
